[submodule "coha-tracking-server"]
	path = coha-tracking-server
	url = https://github.com/coha-it/coha-tracking-server.git
[submodule "wp-content/themes/astra-child/coha-tracking-client"]
	path = wp-content/themes/astra-child/coha-tracking-client
	url = https://github.com/coha-it/coha-tracking-client.git
