[submodule "coha-tracking-server"]
	path = coha-tracking-server
	url = https://coha-it@github.com/coha-it/coha-tracking-server.git
[submodule "wp-content/themes/astra-child/coha-tracking-client"]
	path = wp-content/themes/astra-child/coha-tracking-client
	url = https://coha-it@github.com/coha-it/coha-tracking-client.git
[submodule "wp-content/themes/das-neue-fuehren"]
	path = wp-content/themes/das-neue-fuehren
	url = https://coha-it@github.com/coha-it/das-neue-fuehren-wp-theme
